@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 

/* * {
    outline: 2px solid red;
  } */

body {
    font-family: Roboto;
    flex-direction: column;
    margin: 0;
}

a {
  text-decoration:none;
  color:#F9FAF8;
}

ul
{
    list-style-type:none;
    padding:0px;
    margin:0px;
}

button{
  background-color:#3882F6;
  color:white;
  text-align:center;
  font-size: 16px;
  padding: 12px 28px;
}

.b4-container button {
  border-style: solid;
  border-color:white;
  width: 120px; 
  height: 60px; 
  border-radius: 15px; 
  margin-top:15px;
}

.header,
.bottom {
    display: flex;
    flex-direction: column;
    background: #1F2937;
    font-family: Roboto;
  }

.bottom {
  padding: 35px 500px 35px 500px;
  align-items:center;
}
  
.header {
    padding: 20px 200px 150px 200px;
}

.navbar-container {
  display:flex;
  justify-content: space-between;
  padding:5px 0px 15px 0px;
  /* align-items: center; */
}

.headerlogo, .headerlink{
  display:inline-block;
}

.headerlink li{
  display:inline-block;
  margin-right:15px;
}

.headerlogo {
    font-size: 24px;
    font-weight:100;
    color: #F9FAF8;
  }

.b1-text-container h1{
  font-size:48px;
  color: #F9FAF8;
  font-weight: 900;
}

.b1-text-container p,
.headerlink {
  font-size:18px;
  color: #E5E7EB;
  letter-spacing:0.3px;
}

.b1-container {
  display:flex;
  flex-direction: row;
  padding: 80px 0px 0px 0px;
}

.b1-container img{
  width: 900px;
  height: 270px;
  padding: 10px 10px 20px 20px;
  color: grey;
  align-self:center;
}

.b2-container{
  padding: 12px 300px 200px 300px;
  /* display:flex;
  flex-direction:row; */
}

.b2-text-container h2{
  font-size:36px;
  color:#1F2937;
  font-weight:900;
  text-align: center;
}

.b2-square-container{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

.b2-item {
  display:flex;
  flex-direction:column;
  align-items: center;
}

.b2-square{
  /* display:flex;
  flex-direction:row; */
  width: 200px; 
  height: 200px; 
  /* background-color: yellow;  */
  border-radius: 15px; /* Adjust the value for more or less rounded corners */ 
  /* padding: 20px;  */
  /* border-style:solid;
  border-color: #3882F6; */
  /* color: white;  */
  /* text-align:justify;  */
  line-height: 60px; /* Vertically centers the text */ 
}

.b2-square span{
  align-self:flex-end;
}

.b3-container {
  padding: 100px 300px 150px 300px;
  background: #E5E7EB;
}

.b3-text-container h2{
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight:300;
}

.b3-text-container h4{
  font-size: 20px;
  float: right;
}

.b4-container {
  padding: 100px 200px 150px 200px;
  display:flex;
  /* flex-direction:row;
  justify-content:center; */
}

.b4-container-items {
  width: 1000px; 
  height: 80px; 
  /* background-color: yellow;  */
  border-radius: 15px; /* Adjust the value for more or less rounded corners */ 
  padding: 20px; 
  /* border-style:solid; */
  /* border-color: #3882F6; */
  background-color: #3882F6;
  /* text-align:justify;  */
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  line-height: 60px; /* Vertically centers the text */ 
}

.b4-container-text{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.b4-container-text h4{
  color:white;
  font-size: 25px;
  margin: 30px -15px 0px 0px;
}

.b4-container-text p{
  color:white;
  font-size:15px;
  margin-top:-30px;
  padding: -10px 0px 0px 0px;
}

.bottom-text-container {
  font-size:20px;
  font-weight:400;
  color: #F9FAF8;
  letter-spacing:0.5px;
}
